// Layout for general pages

- var userType = user

doctype html
html
  head
    title= title
        
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", type="text/css", href="/stylesheets/materialize.css", media="screen,projection")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
        
    // Let browser know website is optimized for mobile
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="/javascripts/materialize.js")
    
  body
    
    header
      include ../navbar
  
    main
      .container
        .row
          if (userType == 0)
            include ../sidebar/student-sidebar
          else if (userType == 1)
            include ../sidebar/lecturer-sidebar
          else if (userType == 2)
            include ../sidebar/applicant-sidebar
          
          block content
          
