
- var examOne = timetable.exams[0];
- var examTwo = timetable.exams[1];

// Builds card to be displayed in the table
mixin examCardBuilder(name, date, time, location)
  .card-panel.teal
    span.white-text
      h5= name
      
      i.material-icons.left pin_drop
      p= date
      
      i.material-icons.left alarm
      p= time

      i.material-icons.left place
      p= location

h5 Exams this semester
.row 
  .col.s6
    + examCardBuilder(examOne.name, examOne.date, examOne.time, examOne.location)
  .col.s6
    + examCardBuilder(examTwo.name, examTwo.date, examTwo.time, examTwo.location)
