extends layouts/login-layout

// Login page
block content

  h2.center-align Oxford Brookes University
  h4.center-align Personal Information Portal
  
  .center-align
    .row
      .col.s12
        form
          .left-align
            .row
              .input-field.col.s6
                input#user_id.validate(type='text', required)
                label(for='user_id') Applicant/Personal ID
            
            .row
              .input-field.col.s6  
                input#user_password.validate(type='password', required)
                label(for='user_password') Password
            
            .row
              .input-field.col.s12
                a.btn.waves-effect.waves-light(type='button', onClick="login();")
                  | Login
                  i.material-icons.right send
                
  script.
    function login() {
      var user_id = document.getElementById('user_id').value;
      var user_password = document.getElementById('user_password').value;
            
      if (user_id == "") {
          alert("User ID is blank, please make sure you enter an ID");
          return;
      }
      
      var available_ids = ["student", "lecturer", "applicant"];

      if (available_ids.indexOf(user_id) != -1) {
        location.href = user_id + '-myPIP'
      } else {
        alert("User not found, acceptable IDs: 'student' | 'lecturer' | 'applicant' ");
      }
    }
