// Navbar for the site

// Modal Structure
#search_results_modal.modal.bottom-sheet
  .modal-content
    h4 Search Results
    
    .row 
      .col.s4
        .card.small
          .card-content
            .col.s6
              img.circle(src='images/search-results/penny1.jpg')
            .col.s6
              h5.bold Penny Tool
              h5 Lecturer
          .card-action
            a(href='#') 07734389157
            a(href='#') PennyTool@brookes.ac.uk
            
      .col.s4
        .card.small
          .card-content
            .col.s6
              img.circle(src='images/search-results/penny2.jpg')
            .col.s6
              h5.bold Penny Johnson
              h5 Student
          .card-action
            a(href='#') 077111189157
            a(href='#') PennyJohnson@brookes.ac.uk
            
            
      .col.s4
        .card.small
          .card-content
            .col.s6
              img.circle(src='images/search-results/penny3.jpg')
            .col.s6
              h5.bold Penny Smith
              h5 Lecturer
          .card-action
            a(href='#') 02234389857
            a(href='#') PennySmith@brookes.ac.uk




    

.navbar-fixed
  nav
    .nav-wrapper
      form(onsubmit="return false")
        .input-field
          input#search(type='search', onsearch='OnSearch(this);')
          label(for='search')
            i.material-icons search
          i.material-icons close



    script.
      
      function OnSearch(input) {
        if (input.value !== "") {
          console.log(input.value);
          $('#search_results_modal').openModal();
          return;
        }  
      }
      

        
      
    
