// Navbar for the site

.navbar-fixed
  nav
    .nav-wrapper
      form
        .input-field
          input#search(type='search', required='')
          label(for='search')
            i.material-icons search
          i.material-icons close
      

  script.
    
    $("#search").keyup(function(event){
      if(event.keyCode == 13){
        var searchTerm = $('#search').val();
        // do something with the search term
      }
    });
