
ul#nav-mobile.side-nav.fixed(style='transform: translateX(0%);')
  br
  li
    img(src='/images/profile-student.jpg', alt='Profile Image', class='circle responsive-img center-aliged-material-img')
    
  li
    span.center-aligned-text
      p Niles Peppertrout

  li.bold#my_pip_button
    a.waves-effect.waves-teal(onClick="location.href='/myPIP';") My PIP
  li.bold#my_timetable_button
    a.waves-effect.waves-teal(onClick="location.href='/timetable';") My Timetable
  li.bold#my_modules_button
    a.waves-effect.waves-teal(onClick="location.href='/modules';") My Modules
  li.bold#my_settings_button
    a.waves-effect.waves-teal(onClick="location.href='/settings';") My Settings
    
    
script.
  $(document).ready(function () {
    
    var page = window.location.href;
    page = page.substr((page.lastIndexOf('/') + 1));
    page = page.split('.');
    page = page[0];
        
    page = page.toUpperCase();

    switch (page) {
      case "MYPIP":
        $('#my_pip_button').addClass('active');
        break;
        
      case "TIMETABLE":
        $('#my_timetable_button').addClass('active');
        break;
        
      case "MODULES":
        $('#my_modules_button').addClass('active');
        break;
        
      case "SETTINGS":
        $('#my_settings_button').addClass('active');
        break;
    }
  });
    
          
