
/* Style sheet for main-layout components */

header, main, footer {
  padding-left: 240px;
}

.center-aliged-material-img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.center-aligned-text {
  display: block;
  text-align: center;
  font-weight: bold;
}

.accordian-title-text {
  display: block;
  font-weight: bold;
}
