extends layouts/main-layout

block content
  h3 #{title}
  
  .row
    .col.s12
      // Main body 
      ul.collapsible.popout(data-collapsible='accordion')
        
        li
          .collapsible-header#update_password_header
            span.accordian-title-text Update Password
            
          .collapsible-body
            ul.collection
              li.collection-item
                .row
                  .input-field.col.s6
                    input#existing_password.validate(type='password')
                    label(for='user_id') Existing Password
              
              li.collection-item
                .row
                  .input-field.col.s6
                    input#new_password.validate(type='password')
                    label(for='user_password') New Password
                  
              li.collection-item
                .row
                  .input-field.col.s6
                    input#new_password_check.validate(type='password')
                    label(for='user_password') Confirm Password
              
              li.collection-item
                .row
                  .input-field.col.s6
                    a.btn.waves-effect.waves-light(type='button', onClick="updatePassword();")
                      | Save
                                
            
        
        li
          .collapsible-header
            span.accordian-title-text Update Profile Image
            
          .collapsible-body
            .file-field.input-field
              .btn
                span File
                input(type='file')
              .file-path-wrapper
                input.file-path.validate(type='text')
              
            .file-path-wrapper
              input.file-path.validate(type='text')

        
        li
          .collapsible-header
            span.accordian-title-text Update Personal Information
            
          .collapsible-body
            ul.collection
              li.collection-item
                .row
                  .input-field.col.s6
                    textarea#user_address_text_area.materialize-textarea
                    label(for='user_address_text_area') Enter a new address
              
              li.collection-item
                .row
                  .input-field.col.s6
                    input#user_phone.validate(type='text')
                    label(for='user_phone') Enter new phone number
              
              li.collection-item
                .row
                  .input-field.col.s6
                    a.btn.waves-effect.waves-light(type='button', onClick="updatePersonalDetails();")
                      | Save
          
          
  script.
    function updatePassword() {
      
      // TODO: Work out how to dynamically close accordian
      $('#update_password_header').removeClass('active');
      
      Materialize.toast('Password Updated', 3000, 'rounded')
    }    
    
    function updatePersonalDetails() {
      
      Materialize.toast('Personal Information Updated', 3000, 'rounded')
      
    }
