extends ../layouts/main-layout
include mixins

block content

  .row
    .col.s8
      h3= title
    
    .col.s4
      .change-timetable-button
        a.waves-effect.waves-light.btn.modal-trigger(href='#change_timetable_modal') Change Timetable
        
      #change_timetable_modal.modal.modal-fixed-footer
        .modal-content
          
          .col.s12
            h5#timetable_id Timetable One
            a.waves-effect.waves-light.btn(onClick='nextTimetableOption();') Next Option
            
            script.
              function nextTimetableOption() {
                $('#timetable_id').val("Timetabe Two")
                                
                $('#modal_timetable tbody').empty();
                $('#modal_timetable tbody').after($('#semester-two-afternoon-modules-row')[0].innerHTML);
                $('#modal_timetable tbody').after($('#semester-two-morning-modules-row')[0].innerHTML);
              }
            
            table#modal_timetable
              thead
                tr
                  th(data-field='monday') Monday
                  th(data-field='tuesday') Tuesday
                  th(data-field='wednesday') Wednesday
                  th(data-field='thursday') Thursday
                  th(data-field='friday') Friday
                  
              tbody      
                +tableRowBuilder(timetable.semesterOne.morning)
                +tableRowBuilder(timetable.semesterOne.afternoon) 

        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat
            | Save Changes
          a.modal-action.modal-close.waves-effect.waves-red.btn-flat 
            | Cancel
  
  .row  
    #semester_one_timetable
      - var morningModules = timetable.semesterOne.morning
      - var afternoonModules = timetable.semesterOne.afternoon
      
      include timetable
      
    #semester_two_timetable(style='display:none')
      - var morningModules = timetable.semesterTwo.morning
      - var afternoonModules = timetable.semesterTwo.afternoon
    
      include timetable
    
    if (userType == 0)
      #exam_timetable(style='display:none')
        // Use the timetable file
        include exam-manager
  
  .center-align          
    .row
      .col(class=(userType === 0 ? 's4' : 's6'))
        a.waves-effect.waves-light.btn.disabled(id='semester_one_button', onClick="semesterOneButtonClicked();")
          | Semester One
          
      .col(class=(userType === 0 ? 's4' : 's6'))
        a.waves-effect.waves-light.btn(id='semester_two_button', onClick="semesterTwoButtonClicked();")
          | Semester Two
      
      if (userType == 0)
        .col.s4
          a.waves-effect.waves-light.btn(id='exam_button', onClick="examButtonClicked();")
            | Exam
  
  script.
    function semesterOneButtonClicked() {
      resetAll()
      
      $('#semester_one_timetable').show();
      $('#semester_one_button').addClass('disabled');
    }
    
    function semesterTwoButtonClicked() {
      resetAll()
      
      $('#semester_two_timetable').show();
      $('#semester_two_button').addClass('disabled');
      
    }
    
    function examButtonClicked() {
      resetAll()
      
      $('#exam_timetable').show();
      $('#exam_button').addClass('disabled');
    }
    
    function resetAll() {
      $('#semester_one_button').removeClass('disabled');
      $('#semester_two_button').removeClass('disabled');
      $('#exam_button').removeClass('disabled');
      
      $('#semester_one_timetable').hide();
      $('#semester_two_timetable').hide();
      $('#exam_timetable').hide();
    }
    
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
    });
    
