extends ../layouts/main-layout
include mixins

block content

  .row
    .col.s8
      h3= title
    
    .col.s4
      .change-timetable-button
        a.waves-effect.waves-light.btn.modal-trigger(href='#change_timetable_modal') Change Timetable
        
      #change_timetable_modal.modal.modal-fixed-footer
        .modal-content
          
          .col.s12
            h5#timetable_id Timetable One
            a.waves-effect.waves-light.btn#next_option_button(onClick='nextTimetableOption();') Next Option
              
            #timetable_one
              - var morningModules = timetable.semesterOne.morning
              - var afternoonModules = timetable.semesterOne.afternoon
              
              include timetable
            
            #timetable_two(style='display:none')
              - var morningModules = timetable.semesterTwo.morning
              - var afternoonModules = timetable.semesterTwo.afternoon
            
              include timetable 
              
        script.
          // On click handler for the modal 
          function nextTimetableOption() {
            var currentTimetable = $('#timetable_id').text();
            
            if (currentTimetable == "Timetable One") {
              // Show timetable two
              $('#timetable_id').text("Timetable Two");
              $('#next_option_button').text('Previous Option');
              
              $('#timetable_one').hide()
              $('#timetable_two').show()
              
            } else {
              // show timetable one
              $('#timetable_id').text("Timetable One");
              $('#next_option_button').text('Next Option');
              
              $('#timetable_one').show()
              $('#timetable_two').hide()
            }
          }

        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat
            | Save Changes
          a.modal-action.modal-close.waves-effect.waves-red.btn-flat 
            | Cancel
  
  .row  
    #semester_one_timetable
      - var morningModules = timetable.semesterOne.morning
      - var afternoonModules = timetable.semesterOne.afternoon
      
      include timetable
      
    #semester_two_timetable(style='display:none')
      - var morningModules = timetable.semesterTwo.morning
      - var afternoonModules = timetable.semesterTwo.afternoon
    
      include timetable
    
    if (userType == 0)
      #exam_timetable(style='display:none')
        // Use the timetable file
        include exam-manager
  
  .center-align          
    .row
      .col(class=(userType === 0 ? 's4' : 's6'))
        a.waves-effect.waves-light.btn.disabled(id='semester_one_button', onClick="semesterOneButtonClicked();")
          | Semester One
          
      .col(class=(userType === 0 ? 's4' : 's6'))
        a.waves-effect.waves-light.btn(id='semester_two_button', onClick="semesterTwoButtonClicked();")
          | Semester Two
      
      if (userType == 0)
        .col.s4
          a.waves-effect.waves-light.btn(id='exam_button', onClick="examButtonClicked();")
            | Exam
  
  
  script.
    function semesterOneButtonClicked() {
      resetAll()
      
      $('#semester_one_timetable').show();
      $('#semester_one_button').addClass('disabled');
    }
    
    function semesterTwoButtonClicked() {
      resetAll()
      
      $('#semester_two_timetable').show();
      $('#semester_two_button').addClass('disabled');
      
    }
    
    function examButtonClicked() {
      resetAll()
      
      $('#exam_timetable').show();
      $('#exam_button').addClass('disabled');
    }
    
    function resetAll() {
      $('#semester_one_button').removeClass('disabled');
      $('#semester_two_button').removeClass('disabled');
      $('#exam_button').removeClass('disabled');
      
      $('#semester_one_timetable').hide();
      $('#semester_two_timetable').hide();
      $('#exam_timetable').hide();
    }
    
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
    });
    
