
ul#nav-mobile.side-nav.fixed(style='transform: translateX(0%);')
  br
  li
    img(src='/images/profile-applicant.jpg', alt='Profile Image', class='circle responsive-img center-aliged-material-img')
    
  li
    span.center-aligned-text
      p Lauren Woods

  li.bold(class=(pageNum===1 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/applicant-myPIP';") My PIP
  
  li.bold(class=(pageNum===2 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/applicant-enrollment';") Enrollment
  
  li.bold(class=(pageNum===3 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/applicant-settings';") My Settings
  
      

        
          
