
ul#nav-mobile.side-nav.fixed(style='transform: translateX(0%);')
  br
  li
    img(src='/images/profile-lecturer.jpg', alt='Profile Image', class='circle responsive-img center-aliged-material-img')
    
  li
    span.center-aligned-text
      p Eric Bryant

  li.bold(class=(pageNum===1 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/myPIP';") My PIP
  
  li.bold(class=(pageNum===2 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/timetable';") My Timetable
  
  li.bold(class=(pageNum===3 ? 'active' : ''))
    a.waves-effect.waves-teal(onClick="location.href='/settings';") My Settings
  
      

        
          
